/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tektur:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500&display=swap');

html, body {
  background-color: #212121;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none; 
} 
a:visited {
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active {
  text-decoration: none; 
}

.reveal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.reveal.hovered .content {
  clip-path: circle(50% at center); /* Adjust the circle size as desired */
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../assets/images/svg/Computer_Circuit_Board_Skelton.svg');
  background-position: center;
  background-size: 500%;
  overflow: hidden;
}

.content.animate {
  clip-path: circle(0% at center); /* Start with no visible content */
  transition: clip-path 0.3s ease; /* Add a transition effect for smooth animation */
}

#sidebarBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  min-height: 100vh;
  min-width: 33vw;
  background-color: #121212;
}

.nameContainer {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.name {
  text-align: center;
  font-size: 80px;
  line-height: 25px;
  color: white;
  font-family: 'Tektur', cursive;
}

#tag {
  color: grey;
  font-size: .3em;
}

.social {
  position: relative;
  top: -50px;
  left: 17%;
  width: 30px;
  padding-right: 10px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  -webkit-user-drag: none;
  -moz-user-drag: none;
}

.segment {
  position: absolute;
  pointer-events: none;
  left: 33vw;
  width: calc(67vw - ((100vw - 100%)));
  top: 0;
  opacity: 0.8;
}

#info {
  top: 0;
  height: 38vh;
  background: linear-gradient(to right, rgb(54, 52, 64) 0%, rgb(54, 52, 64) 33%, rgb(35, 33, 40) 33%, rgb(35, 33, 40) 66%, rgb(14, 13, 16) 66%, rgb(14, 13, 16) 100%);
}

.infoText {
  position: absolute;
  color: white;
  font-size: large;
  font-family: 'Unbounded', sans-serif;
  transform: translate(-50%, 0);
  width: 20vw;
  height: 35vh;
  top: 0;
  text-align: center;
}

#bio {
  left: 11vw;
  line-height: 2em;
}

#qualifications {
  left: 33vw;
  top: -.5em;
  line-height: 2em;
  font-size: larger;
}

#skills {
  left: 55.5vw;
}


/* #docs {
  top: 30vh;
  width: 60vw;
  min-height: 30vh;
  pointer-events: none;
  background: linear-gradient(to left, rgb(54, 52, 64) 50%, rgb(35, 33, 40) 50%);
} */

#index {
  top: 66vh;
  width: 60vw;
  min-height: 30vh;
  text-align: center;
}

#indexTitle {
  color: rgb(68, 233, 34);
  font-size: xx-large;
  font-family: 'Unbounded', sans-serif;
}